{% extends 'base.html.twig' %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block stylesheets %}
    <style></style>
{% endblock %}

{% block javascripts %}
    {#<script src= type="text/javascript"></script>#}
{% endblock %}
