section[role=main] {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  justify-content: center;
}
footer {
  justify-content: center;
  display: flex;
}
.mus-table {
  text-align: left;
  border-collapse: collapse;

  caption {
    padding-bottom: 12px;
    text-align: left;
    font-size: larger;
    color: #666;
  }
  td, th {
    padding: 10px 30px 10px 8px;
    border: solid 2px #999;
  }
  th {
    position: relative;
    color: #444;
    background-color: #eee;
    cursor: pointer;

    &:hover{
      background-color: #ddd;
    }

    &.unsorted {
      &:before {
        position: absolute;
        top: 40%;
        right: 10px;
        display: block;
        margin-top: -9px;
        width: 0;
        height: 0;
        content: "";
        border: 6px solid transparent;
        border-bottom-color: #999;
      }
      &:after {
        position: absolute;
        top: 55%;
        right: 10px;
        display: block;
        margin-top: 1px;
        width: 0;
        height: 0;
        content: "";
        border: 6px solid transparent;
        border-top-color: #999;
      }
    }
    &.asc {
      &:before {
        position: absolute;
        top: 40%;
        right: 10px;
        display: block;
        margin-top: -9px;
        width: 0;
        height: 0;
        content: "";
        border: 6px solid transparent;
        border-bottom-color: #444;
      }
    }
    &.desc {
      &:after {
        position: absolute;
        top: 55%;
        right: 10px;
        display: block;
        margin-top: 1px;
        width: 0;
        height: 0;
        content: "";
        border: 6px solid transparent;
        border-top-color: #444;
      }
    }
  }
  td {
    font-weight: 600;
    color: #666;
  }
  td[colspan='4'] {
    text-align: center;
  }
}

.table-filter {
  margin-left: 15px;

  h4 {
    margin: 0;
    font-weight: 400;
    font-size: larger;
    color: #666;
  }
  ul {
    margin: 12px 0 0 0;
    padding: 10px;
    list-style-type: none;
    background-color: #eee;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight:600;
    font-size: small;
    color: #444;
  }
  select {
    margin-bottom: 10px;
    padding: 4px;
    color: #666;
    background-color: white;
    border: solid 2px #999;
    cursor: pointer;
  }
}

.pagination {
  padding: 0;
  line-height: 30px;

  li{
    display: inline-block;
    font-size: large;
    font-weight: 600;
    color: #666;
    border-radius: 50%;
    border: solid 2px transparent;

    &:not(.disabled):hover {
      border-color: #999;
    }

    &.active {
      background-color: #eee;
      border-color: #666;
    }
    &.disabled {
      color: #999;

      > a { cursor: default; }
    }

    > a {
      padding: 0 10px;
      text-decoration: none;
      color: inherit;
    }
  }
  .prev, .next {
    line-height: 34px;
    vertical-align: bottom;
    font-size: xx-large;
  }
  .prev {
    padding: 0 10px 0 6px;
  }
  .next {
    padding: 0 6px 0 10px;
  }
}